<!-- views/services.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>JSaili</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Header Section -->
    <%- include('./partials/header') %>

    <main class="service-container">
      <h1>Services</h1>
      <div class="service-cardContainer">
        <div class="service">
          <h1>Frontend Development</h1>
          <p>
            Among all the aspects of the website, doing the front-end part is
            what excites me the most. I believe that doing the front-end part of
            a website is what I am most good at, on comparing it with other
            aspects of web development.
          </p>
        </div>
        <div class="service">
          <h1>Backend Development</h1>
          <p>
            I also like to do back-end coding for websites. I have created all
            of my back-ends that have been used in my projects by myself. I use
            Node.js as my back-end language and MongoDB as my back-end database.
            Like front-end doing back-end is also one of my key aspects.
          </p>
        </div>
        <div class="service">
          <h1>Responsivness</h1>
          <p>
            Making a website responsive is one of the key and difficult aspect
            of website building. But making a website responsive is what thrives
            me the most in the web development. I make sure that all of my
            projects and work samples are responsive before submitting it.
          </p>
        </div>
      </div>
    </main>

    <!-- Footer Section -->
    <%- include('./partials/footer') %>
  </body>
</html>
